services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: sato_app
    env_file:
      - .env.development
    depends_on:
      db:
        condition: service_healthy
    command: >
      sh -c "
        php artisan migrate --force &&
        php artisan filament:assets &&
        php-fpm
      "

  nginx:
    image: nginx:alpine
    container_name: sato_nginx
    ports:
        - "80:80"
    volumes:
        - .:/app
        - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
        - app

  db:
    image: postgres:15
    container_name: sato_db
    restart: unless-stopped
    env_file:
      - .env.development
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${DB_USERNAME} -d $${DB_DATABASE}" ]
      interval: 10s
      retries: 5

volumes:
  postgres_data:
